* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
  overflow-y: hidden;
}
body {
  /* background-image: url("images/Maskotka2.jpg"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  height: 100vh;
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

nav {
  display: flex;
  position: relative;
  background-color: #343a40;
  height: 7.5vh;
  /* overflow-y: hidden; */
}

nav ul {
  width: 100vw;
  margin: 0 auto;
  list-style: none;
  display: flex;
  text-align: center;
}

/* nav ul li.border { */
/* border-color: #343a40; */
/* } */

/* nav ul li { */
/* float: left; */
/* } */
div img {
  width: 100vw;
  height: 100vh;
}
nav ul li a {
  display: block;
  line-height: 7.5vh;
  text-decoration: none;
  color: #bbb;

  letter-spacing: 2px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  padding: 0 40px;
  border-right: 2px solid black;
}
.logo {
  display: block;
  background-image: url(images/Typer.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 20px 4px;
  width: 100px;
}
nav ul li a i {
  padding-right: 20px;
  vertical-align: -3px;
}

.fa {
  font-size: 24px;
}
.burger {
  opacity: 0;
}

nav ul li a:hover {
  color: white;
}
aside .login {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1060px) {
  div .fa-bars {
    font-size: 48px;
  }
  .burger {
    opacity: 1;
    position: absolute;
    right: 50px;
    top: 9px;
    font-size: 40px;
    color: rgb(53, 189, 137);
  }
  .burger:hover {
    color: black;
    cursor: pointer;
  }
  .logo {
    opacity: 1;
  }
  nav ul {
    position: absolute;
    right: 0;

    width: 335px;
    height: 92.5vh;
    top: 7.5vh;
    flex-direction: column;
    text-align: center;
    background-color: #343a40;
    transform: translate(100%);
    transition: 0.4s ease-in-out;
  }
  ul.active {
    transform: translate(0%);
  }
}
@media only screen and (max-width: 870px) {
  nav ul {
    width: 100%;
  }
  .login {
    opacity: 0;
  }
}
